<section class="container">

  <h2 class="titulo">Transferencias</h2>

  <table class="tabela">
    <thead class="tabela__cabecalho">
      <th class="table__cabecalho__conteudo">Date</th>
      <th class="table__cabecalho__conteudo">Nome</th>
      <th class="table__cabecalho__conteudo">Banco</th>
      <th class="table__cabecalho__conteudo">Agencia</th>
      <th class="table__cabecalho__conteudo">Conta</th>
      <th class="table__cabecalho__conteudo">Valor</th>
    </thead>

    <tbody  >
      <tr class="tabela__linha" >
        <td class="tabela__conteudo"></td>
        <td class="tabela__conteudo"></td>
        <td class="tabela__conteudo"></td>
        <td class="tabela__conteudo"></td>
        <td class="tabela__conteudo"></td>
        <td class="tabela__conteudo"></td>
      </tr>
    </tbody>
  </table>

<ng-template #semRetorno>
  <p>sem dados</p>
</ng-template>


  </section>
